<a class="btn btn-default" href="{% url 'users' %}"><span class="glyphicon glyphicon-home"> На users</span></a>
<a class="btn btn-default" href="{% url 'regions' %}"><span class="glyphicon glyphicon-home"> На regions</span></a>
<a class="btn btn-default" href="{% url 'cities' %}"><span class="glyphicon glyphicon-home"> На cities</span></a>
<a class="btn btn-default" href="{% url 'streets' %}"><span class="glyphicon glyphicon-home"> На streets</span></a>
<a class="btn btn-default" href="{% url 'places' %}"><span class="glyphicon glyphicon-home"> На places</span></a>
<a class="btn btn-default" href="{% url 'meals' %}"><span class="glyphicon glyphicon-home"> На meals</span></a>
<a class="btn btn-default" href="{% url 'categories' %}"><span class="glyphicon glyphicon-home"> На categories</span></a>
<a class="btn btn-default" href="{% url 'features' %}"><span class="glyphicon glyphicon-home"> На features</span></a>
<p>hello<p>